<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/contact.css">

 <div class="jumbotron jumbotron-fluid bg-info">
     <div class="container">
      <h1 class="display-4">LET'S CONNECT</h1>
       <p class="lead">We are here to Help you in any way possible.</p>
     </div>
    </div>
    
     <div class="container">
   <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Name</th>
      <th scope="col"> DESIGNATION</th>
      <th scope="col">DEGREE</th>
      <th scope="col">PHONE</th>
      <th scope="col">MAIL</th>
      <th scope="col">QUERIES</th>

    </tr>
  </thead>
  <tbody>
    <tr class="bg-warning add">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/kcnarasimhamurthy.jpg"></th>
      <td>Dr. K C Narasimhamurthy</td>
      <td>Professor & Head</td>
      <td>M.Tech., Ph.D. (IIT-Guwahati)</td>
      <td>+91 96202 43260</td>
      <td>kcnmurthy@sit.ac.in</td>
      <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/kcn">Subject Related Doubt</a>
        <a class="dropdown-item" href="/kcn">Branch Related Doubt</a>
        <a class="dropdown-item" href="/kcn">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-warning">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/kviswanath.jpg"></th>
      <td>Dr. K Viswanath</td>
      <td>Professor</td>
      <td>M.E., Ph.D. (IIT-Kharagpur)</td>
      <td>+91 94813 46724</td>
      <td>vishwanath@sit.ac.in</td>
      <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-warning" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/kv">Subject Related Doubt</a>
        <a class="dropdown-item" href="/kv">Branch Related Doubt</a>
        <a class="dropdown-item" href="/kv">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-success">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/mnsujatha.jpg"></th>
      <td>Dr. M N Sujatha</td>
      <td>Associate Professor</td>
      <td>M.Tech.,Ph.D. at IISc, Bangalore</td>
      <td>+91 98801 45094</td>
      <td>mnsujatha@sit.ac.in</td>
      <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-success" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>                                                        

 

    <tr class="bg-success">
      <th scope="row"><img src="http://sit.ac.in/html/component/ecedept/eceimg/mallikarjunbc.jpg"></th>
      <td>Dr. Mallikarjun B Channappagoudar</td>
      <td> Associate Professor</td>
      <td>M.E., Ph.D.</td>
      <td>+91 99806 80753</td>
      <td>mallikarjun_bc@sit.ac.in</td>
      <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-success" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-success">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/tnchandrika.jpg"></th>
      <td>Dr. T N Chandrika</td>
      <td>Associate Professor</td>
      <td>M.Tech., Ph.D at IISc., Bangalore</td>
       <td>+91 98801 22944</td>
        <td>tnchandrika@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-success" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/rnsathisha.jpg"></th>
      <td>R N Sathisha</td>
      <td>Assistant Professor</td>
      <td>M.Tech,Pursuing Ph.D(IISc. Bangalore)</td>
       <td>+91 97387 66635</td>
        <td>sathisharyan@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/hmchandrashekar.jpg"></th>
      <td>H M Chandrashekar</td>
      <td>Assistant Professor</td>
      <td>M.Tech, Pursuing Ph.D (SIT,Tumkur)</td>
       <td>+91 99645 29852</td>
        <td>hmchandrashekar@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/dkkumuda.jpg"></th>
      <td>D K Kumuda</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 98863 30082</td>
        <td>kumuda@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/lusha.jpg"></th>
      <td>L Usha</td>
      <td>Assistant Professor</td>
      <td>M.Tech,Pursuing Ph.D(NITK, Suratkal)</td>
       <td>+91 98864 24946</td>
        <td>ushal@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/naveenkumarm.jpg"></th>
      <td>Naveen Kumar M</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 99643 89249</td>
        <td> navinvcm@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/suchitrav.jpg"></th>
      <td>Suchitra V</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 87625 30997</td>
        <td>suchitrav@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/rakeshmb.jpg"></th>
      <td>Rakesh M B</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 94807 94805</td>
        <td>mbrakesh@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/susmitaeswar.jpg"></th>
      <td>Susmita Eswar</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 89714 47968</td>
        <td> susmitaeswar@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/puneethkumartr.jpg"></th>
      <td>Puneeth Kumar T R</td>
      <td>Assistant Professor</td>
      <td>M.Tech, Pursuing Ph.D(NITK, Suratkal)</td>
       <td>+91 89046 85053</td>
        <td> punithkumar@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/mallannasd.jpg"></th>
      <td>Mallanna S D</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 95358 44150</td>
        <td>mallannasd@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/chandanabn.jpg"></th>
      <td>Ms. Chandana B N</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 73844 33521</td>
        <td>chandanabn@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><img src="http://sit.ac.in/html/component/telecomdept/telecomimg/ranjithar.jpg"></th>
      <td>Ms. Ranjitha R</td>
      <td>Assistant Professor</td>
      <td>M.Tech.</td>
       <td>+91 72049 32232</td>
        <td>k ranjithar@sit.ac.in</td>
        <td>
       <div class="dropdown">
            
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               ASK?
            </a>

       <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Subject Related Doubt</a>
        <a class="dropdown-item" href="#">Branch Related Doubt</a>
        <a class="dropdown-item" href="#">Suggestions</a>
       </div>
       </div>
      </td>
    </tr>
  </tbody>
</table>
   </div>
   
   
   <%- include("./partials/footer") %>
   
   