<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/gallery.css">

<div class=" fluid-container">
 <div class="jumbotron" id="love">
<h1> HERE WE INNOVATE</h1>
<p class="pl-5">Come Fall in love with Circuit.</p>
</div>
</div>

<div class="container">
    <div class="row">
     <div class="col-lg-4">
      <div class="card mb-5">
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">DOG</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
     </div>
    </div>
                

             <div class="col-lg-4">
                 <div class="card mb-5" >
                   <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
                     <div class="card-body">
                      <h5 class="card-title">LCD</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's conten</p>
                        <a href="" class="btn btn-outline-success "> download</a>
                        <a href="" class="btn btn-outline-danger "> do</a>

                     </div>  
                  </div>
                 </div>
            

            <div class="col-lg-4">
      <div class="card mb-5">
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">PCB</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
      </div>
      </div>
      <div class="container">
    <div class="row">
     <div class="col-lg-4">
      <div class="card mb-5" >
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">LCD</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
      </div>
      </div>
                

                <div class="col-lg-4">
                 <div class="card mb-5" >
                   <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
                     <div class="card-body">
                      <h5 class="card-title">DOG</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's conten</p>
                        <a href="" class="btn btn-outline-success "> download</a>
                        <a href="" class="btn btn-outline-danger "> do</a>

                     </div>  
                  </div>
                 </div>
            

            <div class="col-lg-4">
      <div class="card mb-5">
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">DOG</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
      </div>
      </div>
      <div class="container">
    <div class="row">
     <div class="col-lg-4">
      <div class="card mb-5" >
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">DOG</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
      </div>
      </div>
                

                <div class="col-lg-4">
                 <div class="card mb-5" >
                   <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
                     <div class="card-body">
                      <h5 class="card-title">DOG</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's conten</p>
                        <a href="" class="btn btn-outline-success "> download</a>
                        <a href="" class="btn btn-outline-danger "> do</a>

                     </div>  
                  </div>
                 </div>
            

            <div class="col-lg-4">
      <div class="card mb-5">
       <img src="https://images.unsplash.com/photo-1555589228-135c25ae8cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="card-image-cap">
        <div class="card-body">
         <h5 class="card-title">DOG</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="" class="btn btn-outline-success "> download</a>
           <a href="" class="btn btn-outline-danger "> do</a>

       </div>  
      </div>
      </div>




    
  </div>
  </div>
  




    
  </div>
  </div>
  




    
  </div>
  </div>
  









































<%- include("./partials/footer") %>