.jumbotron ,.jumbotron-fluid{
    background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
    background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1.display-5{
	font-color: white;
}
.jumbotron,h1{
	color: black;
}
.card-text,p{
	font-weight: bold;
	font-size: 20px;
}
 .mission{
	background: #f0071e;
}
.mission-text
{
	color: silver;
}
.change-text
{
	color: black;
}