.jumbotron ,.jumbotron-fluid{
    background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h4 strong {
    background-color: white;
    color: #7b9cd1;
}
h1 strong{
	background-color: white;
    color: #7b9cd1;
}
.ask h1{
	background-color: white;
    color: #f5b642;
}
div .add{
    background-color: darkkhaki;
    padding-left: 5%;
}